
* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', 'Segoe UI', Arial;
}

header {
  display: flex;
  justify-content: center;
}

main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 1000px;
  margin: 0 auto;
}

news-article {
  width: 100%;
  margin: 10px 0;
  padding: 0 10px;
}

/* move this into the component */
/* a {
  text-decoration: none;
  color: #333;
}

article {
  width: 100%;
  height: 100%;
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.3);
}

article img {
  width: 100%;
  height: auto;
}

.title {
  padding: 15px;
  text-align: center;
} */

@media only screen and (min-width: 576px) {
  news-article {
    width: 50%;
  }
}

@media only screen and (min-width: 768px) {
  news-article {
    width: 25%;
  }
}